body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.link {
    font-size: 18px;
    color: #E5E7EB;

}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 1em 0em;

}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 5em;

}

.header-links {
    display: flex;
    gap: 1em;
    align-items: center;
}